.c-f7f7f7 {
	background-color: #f7f7f7
}

.c-4371bc {
	background-color: #0055aa
}


/* .c-4371bc{background:rgba(67,113,188,0)} */

.c-ff7b00 {
	background-color: #ff7b00
}

.c-c0c0c0 {
	background-color: #c0c0c0
}

.c-eeeeee {
	background-color: #EEEEEE
}
.c-f3f7f9 {
	background-color: #F3F7F9
}
#
.c-edf0f5 {
	background-color: #EDF0F5
}

.c-2bcadd {
	background-color: #2BCADD
}

.c-ef3f3f {
	background-color: #ef3f3f
}

.c-4983e2 {
	background-color: #4984E2
}

.c-2fa9e0 {
	background-color: #2FA9E0
}

.c-b28850 {
	background-color: #B28850
}

.c-fe1617 {
	background-color: #FE1617
}

.c-616161 {
	background-color: #616161
}

.border-c1c1c1 {
	border-color: #C1C1C1;
}

.border-edf0f5 {
	border-color: red;
}

.border-4371bc {
	border-color: #4371bc;
}

.t-c1c1c1 {
	color: #c1c1c1
}

.t-c0c0c0 {
	color: #c0c0c0
}

.t-ef3f3f {
	color: #EF3F3F
}

.t-00b7ee {
	color: #00B7EE
}

.t-ff7b00 {
	color: #ff7b00
}

.t-4371bc {
	color: #4371bc
}

.t-ff2f2d {
	color: #FF2F2D
}

.t-fd4242 {
	color: #fd4242
}

.t-646464 {
	color: #646464
}

.t-edf0f5 {
	color: #edf0f5
}

.ub-e4e4e4 {
	background-image: linear-gradient(180deg, #e4e4e4, #e4e4e4 50%, transparent 50%), linear-gradient(270deg, #e4e4e4, #e4e4e4 50%, transparent 50%), linear-gradient(0deg, #e4e4e4, #e4e4e4 50%, transparent 50%), linear-gradient(90deg, #e4e4e4, #e4e4e4 50%, transparent 50%);
	background-repeat: no-repeat;
	background-position: top, right top, bottom, left top;
}

.uc-a02 {
	-webkit-border-radius: 0.2em;
	border-radius: .2em;
}

.uc-a10 {
	-webkit-border-radius: 1em;
	border-radius: 1em;
}

.uc-a15 {
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
}

.uc-a125 {
	-webkit-border-radius: 1.25em;
	border-radius: 1.25em;
}

.uc-t02 {
	-webkit-border-radius: 0.2em 0.2em 0 0;
	border-radius: 0.2em 0.2em 0 0;
}

.w125e {
	width: 1.25em !important
}

.w12e {
	width: 1.2em;
}

.w08e {
	width: .8em;
}

.w100e {
	width: 10em !important
}

.umh125 {
	min-height: 1.25em !important;
	line-height: 1.25em !important;
}

.umh0 {
	min-height: 0 !important;
	line-height: 0 !important;
}

.h025e {
	height: 0.25em !important;
}

.h08e {
	height: 0.8em !important;
}

.absl15 {
	left: 1.5em;
}

.absl20 {
	left: 2em;
}

.abst11 {
	top: 1.1em;
}

.abst15 {
	top: 1.5em;
}

.fll {
	float: left
}

.flr {
	float: right
}

.absl50p {
	left: 50%;
}

.absl33p {
	left: 33.3333%;
}

.absl66p {
	left: 66.6666%;
}

.absl25p {
	left: 30%;
}

.absl7p {
	left: 7%;
}

.absb-10 {
	bottom: -1em;
}

.absb-225 {
	bottom: -.225em;
}

.absr-25 {
	right: -2.5em;
}

.absb-125 {
	bottom: -1.25em;
}

.col-33 {
	width: 33.33333%;
	float: left;
}

.dsplb {
	display: inline-block
}

.mart075 {
	margin-top: .75em;
}

.marb075 {
	margin-bottom: .75em;
}

.uc-a15 {
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
}

.border-radius-e0e0e0 {
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.border-radius-e0e0e0 {
		position: relative;
		border: 0;
	}
	.border-radius-e0e0e0:before {
		content: "";
		width: 200%;
		height: 200%;
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid #e0e0e0;
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: 0 0;
		padding: 1px;
		-webkit-box-sizing: border-box;
		border-radius: 4px;
		pointer-events: none;
	}
}

.border-radius-ff7b00 {
	border: 1px solid #ff7b00;
	border-radius: 4px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.border-radius-ff7b00 {
		position: relative;
		border: 0;
	}
	.border-radius-ff7b00:before {
		content: "";
		width: 200%;
		height: 200%;
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid #ff7b00;
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: 0 0;
		padding: 1px;
		-webkit-box-sizing: border-box;
		border-radius: 6px;
		pointer-events: none;
	}
}

.progressGray {
	height: 4px;
	margin-top: 4px;
	margin-bottom: 5px;
	background: #395d99;
	border-radius: 2px;
}

.progress {
	height: 4px;
	width: 30%;
	background: #ff7b00;
	border-radius: 2px;
}

.h18e {
	height: 1.8em;
	line-height: 1.8em;
}

.abst20 {
	top: 2em;
}

.abst25 {
	top: 3em;
}

.absr02 {
	right: .2em;
}


/*范强*/

.h09e {
	height: 0.9em !important;
}

.w96 {
	width: 96% !important
}

.t-545454 {
	color: #545454
}

.absr17 {
	right: 1.7em;
}

.abst12 {
	top: 1.2em;
}

.absl13 {
	left: 1.3em;
}

.t-ff2a2a {
	color: #ff2a2a
}

.pdt13 {
	padding-top: 1.3em;
}

.ui-border-radius {
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-border-radius {
		position: relative;
		border: 0;
	}
	.ui-border-radius:before {
		content: "";
		width: 200%;
		height: 200%;
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid #e0e0e0;
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: 0 0;
		padding: 1px;
		-webkit-box-sizing: border-box;
		border-radius: 8px;
		pointer-events: none;
	}
}

.h002e {
	height: 0.02em !important;
}

.pdt085 {
	padding-top: 0.85em;
}

.absb12 {
	bottom: 1.2em;
}

.txo2 {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; //可以设置显示多行
	-webkit-box-orient: vertical;
}